{% load staticfiles %}
<link rel="stylesheet" type="text/css" href='{% static "css/login_style.css"%}'>


<div id="wrapper">

	<form name="login-form" class="login-form" action="" method="post">
		{% csrf_token%}
		<div class="header">
			<h1>Enter Your Email'ID</h1>
		</div>
	
		<div class="content">
			
			<input style="width:250px;" name="email" type="email" class="input email" id="id_email" placeholder="Email" />
			
			{% if form.emails.errors%}
			<h5 style="color:red">{{ form.emails.errors.as_text}}</h5>
			{% elif form.non_field_errors  %}
			<h5 style="color:red">{{ form.non_field_errors.as_text}}</h5>
			{% endif %}
			
			<div class="user-icon">
			</div>
			
			<div class="pass-icon">
			</div>		
		</div>

		<div class="footer">
			<input type="submit" name="submit" value="Reset" class="button" />
			<a href="/login/">Login</a>
		</div>
	
	</form>

</div>
<div class="gradient">
</div>
