{% load staticfiles %}
<link rel="stylesheet" type="text/css" href='{% static "css/login_style.css"%}'>


<div id="wrapper">

	<form name="login-form" class="login-form" action="" method="post">
		{% csrf_token%}
		<div class="header">
			<h1>Enter New Password</h1>
		</div>
	
		<div class="content">
			
			<input style="width:250px;" name="new_password" type="" class="input password" id="id_new_password" placeholder="New Password" />
			
			{% if form.emails.errors%}
				<h5 style="color:red">{{ form.emails.errors.as_text}}</h5>
			{% elif form.non_field_errors  %}
				<h5 style="color:red">{{ form.non_field_errors.as_text}}</h5>
			{% endif %}
			{% if error_message %}
				<h5 style="color:red">{{ error_message }}</h5>
			{% endif %}
				<input style="width:250px;" name="confirm_password" type="" class="input password" id="id_confirm_password" placeholder="Confirm Password" />
				<div class="user-icon">
				</div>

			<div class="pass-icon">
			</div>
		</div>

		<div class="footer">
			<input type="submit" name="submit" value="Submit" class="button" />
		</div>
	
	</form>

</div>
<div class="gradient">
</div>
